:host {
    display: block;
    margin: 16px;
  }
  
  /* Estilos para el footer del drawer */
  .drawer-footer {
    float: right;
  }
  
  /* Opcional: ajustes de espaciado en el formulario */
  nz-form-item {
    margin-bottom: 16px;
  }