:host {
  display: block;
  margin-top: 32px;
  align-items: center;
  position: absolute;
  width: 150%;
  height: 100%;
}

:host.dark {
  color: var(--text-color, #ffffff);
}

::ng-deep .ngx-charts text {
  fill: var(--text-color, #000000) !important;
}

:host.dark ::ng-deep .ngx-charts text {
  fill: var(--text-color, #ffffff) !important;
}