@import "ng-zorro-antd/ng-zorro-antd.less";

// Default Theme Variables
@primary-color: #0768A9;
@background-color: #ffffff;
@header-background: #f8f8f8;
@sidebar-background: #ffffff;
@text-color: #000000;
@border-color: fade(@primary-color, 40%);
@box-shadow-color: rgba(0, 21, 41, 0.35);

// Global Styles
body {
    background-color: @background-color;
    color: @text-color;
}

// Dashboard Layout
.app-layout {
    background-color: @background-color;
    border-radius: 4px;
}

// Sidebar Styles
.menu-sidebar {
    background: @sidebar-background;
    border-right: 2px solid @border-color;
    box-shadow: 2px 0 6px @box-shadow-color;
    border-radius: 4px;

    .ant-menu {
        background-color: @sidebar-background !important;
        border: none !important;
    }

    .ant-menu-submenu-title,
    .ant-menu-item {
        background-color: @sidebar-background !important;
        color: @text-color !important;
        border: none;

        a {
            color: @text-color !important;
        }
    }

    .ant-menu-item:hover,
    .ant-menu-submenu-title:hover,
    .ant-menu-item-active,
    .ant-menu-submenu-active {
        background-color: @sidebar-background !important;
    }

    .ant-menu-item-selected {
        background-color: fade(@primary-color, 85%) !important;

        a {
            color: #ffffff !important;
        }
    }
}

// Header Styles
.app-header {
    background: @header-background;
    border-bottom: 2px solid @border-color;
    border-radius: 4px;
}

// Sidebar Logo
.sidebar-logo {
    background: @sidebar-background;
    border-bottom: 2px solid @border-color;
    border-radius: 4px;

    h1 {
        color: @primary-color;
    }
}

// Inner Content Styles
.inner-content {
    background: @background-color;
    color: @text-color;
    border: 2px solid @border-color;
    border-radius: 4px;
}

// Icons and Buttons
.header-trigger,
.theme-toggle-btn {
    color: @primary-color;
}

.ant-menu-sub {
    background-color: fade(@primary-color, 70%) !important;
}

/* Submenu Overrides for Default Theme */
.ant-menu-horizontal .ant-menu-sub,
.ant-menu-inline .ant-menu-sub {
    color: #ffffff !important;
}

.ant-menu-horizontal .ant-menu-sub li a,
.ant-menu-inline .ant-menu-sub li a {
    color: #ffffff !important;
}

.ant-menu-horizontal .ant-menu-group-title,
.ant-menu-inline .ant-menu-group-title {
    color: #ffffff !important;
}
