:host {
  display: block;
  position: absolute;
  min-height: 300px;
  width: 80%;
  color: var(--text-color, #000);
}

:host.dark {
  color: var(--text-color, #fff);
}

::ng-deep .ngx-charts text {
  fill: var(--text-color, #000) !important;
}

:host.dark ::ng-deep .ngx-charts text {
  fill: var(--text-color, #fff) !important;
}