<div class="feedback-page">
    <div class="feedback-group"><app-alert-icon></app-alert-icon></div>
    <div class="feedback-group"><app-drawer></app-drawer></div>
    <div class="feedback-group"><app-message></app-message></div>
    <div class="feedback-group"><app-modal></app-modal></div>
    <div class="feedback-group"><app-notification></app-notification></div>
    <div class="feedback-group"><app-popconfirm-promise></app-popconfirm-promise></div>
    <div class="feedback-group"><app-linear-bar></app-linear-bar></div>
    <div class="feedback-group"><app-circular-bar></app-circular-bar></div>
    <div class="feedback-group"><app-custom-bar></app-custom-bar></div>
    <div class="feedback-group"><app-skeleton></app-skeleton></div>
    <div class="feedback-group"><app-spin></app-spin></div>
    <div class="feedback-group"></div>
</div>