<div class="welcome-page">  
    <div class="button-group">
      <app-primary-button nzSize="large">Primary Large</app-primary-button>
      <app-primary-button nzSize="default">Primary Default</app-primary-button>
      <app-primary-button nzSize="small">Primary Small</app-primary-button>
    </div>
  
    <div class="button-group">
      <app-default-button nzSize="large">Default Large</app-default-button>
      <app-default-button nzSize="default">Default</app-default-button>
      <app-default-button nzSize="small">Default Small</app-default-button>
    </div>
  
    <div class="button-group">
      <app-dashed-button>Dashed Button</app-dashed-button>
    </div>
  
    <div class="button-group">
      <app-link-button>Link Button</app-link-button>
    </div>

    <div class="button-group">
      <app-disabled-button>Disabled Button</app-disabled-button>
    </div>

    <div class="button-group">
      <app-dropdown-button>Drop button</app-dropdown-button>
    </div>

    <div class="button-group">
      <app-icon-button></app-icon-button>
    </div>
</div>