:host {
    display: block;
    padding: 16px;
  }
  
  .unified-skeleton-demo {
    h2 {
      margin-bottom: 16px;
    }
    section {
      margin-bottom: 32px;
    }
    nz-divider {
      margin: 24px 0;
    }
  }