<div class="switch-demo">
    <h3>Switch con Texto/Íconos</h3>
    <nz-switch [(ngModel)]="switch1" nzCheckedChildren="开" nzUnCheckedChildren="关"></nz-switch>
    <br /><br />
    <nz-switch [(ngModel)]="switch2" nzCheckedChildren="1" nzUnCheckedChildren="0"></nz-switch>
    <br /><br />
    <nz-switch 
      [(ngModel)]="switch3"
      [nzCheckedChildren]="checkedTemplate"
      [nzUnCheckedChildren]="unCheckedTemplate">
    </nz-switch>
    <ng-template #checkedTemplate>
      <nz-icon nzType="check" nzTheme="outline"></nz-icon>
    </ng-template>
    <ng-template #unCheckedTemplate>
      <nz-icon nzType="close" nzTheme="outline"></nz-icon>
    </ng-template>
  
    <h3>Switch con Loading</h3>
    <nz-switch [(ngModel)]="switch4" nzLoading></nz-switch>
    <br /><br />
    <nz-switch nzSize="small" [(ngModel)]="switch5" nzLoading></nz-switch>
  </div>