<!-- edit-modal.component.html -->
<div
  class="modal"
  [class.show]="isVisible"
  role="dialog"
  aria-modal="true"
  aria-labelledby="edit-widget-title"
>
  <div class="modal-content">
    <div class="modal-header">
      <h2 id="edit-widget-title">
        {{ 'EDIT_WIDGET_MODAL.TITLE' | translate }}
      </h2>
    </div>

    <div class="modal-body">
      <label for="dataSource">
        {{ 'EDIT_WIDGET_MODAL.SELECT_DATA_SOURCE' | translate }}
      </label>
      <div class="select-wrapper">
        <select id="dataSource" [(ngModel)]="dataSource">
          <option *ngFor="let ds of dataSources" [value]="ds">
            {{ ds.split('/').pop() }}
          </option>
        </select>
      </div>

      <label for="dataCount" class="mt-2">
        {{ 'EDIT_WIDGET_MODAL.ENTER_DATA_COUNT' | translate }}
      </label>
      <input
        id="dataCount"
        type="number"
        min="1"
        [(ngModel)]="dataCount"
        [placeholder]="'EDIT_WIDGET_MODAL.DATA_COUNT_PLACEHOLDER' | translate"
      />
      <p *ngIf="warningMessage" class="warning">
        {{ warningMessage }}
      </p>
    </div>

    <div class="modal-footer">
      <app-default-button
        nzType="default"
        (click)="handleClose()"
        (keydown.enter)="handleClose()"
        tabindex="0"
      >
        {{ 'EDIT_WIDGET_MODAL.BUTTON_CANCEL' | translate }}
      </app-default-button>
      <app-primary-button
        nzType="default"
        (click)="handleSave()"
        (keydown.enter)="handleSave()"
        tabindex="0"
      >
        {{ 'EDIT_WIDGET_MODAL.BUTTON_SAVE' | translate }}
      </app-primary-button>
    </div>
  </div>
</div>