<div class="menu-float-container">
    <nz-float-button-group 
      nzShape="circle" 
      style="right: 24px" 
      nzType="primary" 
      nzTrigger="click" 
      (nzOnOpenChange)="onOpenChange($event)">
      <nz-float-button [nzIcon]="iconTemplate"></nz-float-button>
      <nz-float-button [nzIcon]="innerTemplate"></nz-float-button>
    </nz-float-button-group>
    <ng-template #iconTemplate>
      <nz-icon nzType="customer-service" nzTheme="outline"></nz-icon>
    </ng-template>
    <ng-template #innerTemplate>
      <nz-icon nzType="comment" nzTheme="outline"></nz-icon>
    </ng-template>
  </div>