<div class="menu-float-container" [ngStyle]="{'right': right}">
  <nz-float-button-group 
    [nzShape]="nzShape" 
    [nzType]="nzType" 
    [nzTrigger]="trigger" 
    (nzOnOpenChange)="onOpenChange($event)">
    <nz-float-button 
      [nzIcon]="primaryIconTemplate"
      [nzDescription]="primaryDescription"
      [nzHref]="primaryHref"
      [nzTarget]="primaryTarget"
      (nzOnClick)="handlePrimaryClick()">
    </nz-float-button>
    <nz-float-button 
      [nzIcon]="secondaryIconTemplate"
      [nzDescription]="secondaryDescription"
      [nzHref]="secondaryHref"
      [nzTarget]="secondaryTarget"
      (nzOnClick)="handleSecondaryClick()">
    </nz-float-button>
  </nz-float-button-group>
  <ng-template #primaryIconTemplate>
    <nz-icon [nzType]="primaryIcon" [nzTheme]="primaryIconTheme"></nz-icon>
  </ng-template>
  <ng-template #secondaryIconTemplate>
    <nz-icon [nzType]="secondaryIcon" [nzTheme]="secondaryIconTheme"></nz-icon>
  </ng-template>
</div>