<div class="data-entry-page">
    <div class="data-entry-group">
      <app-auto-complete></app-auto-complete>
    </div>
    <div class="data-entry-group">
      <app-cascader-multiple></app-cascader-multiple>
    </div>
    <div class="data-entry-group">
      <app-date-picker-range></app-date-picker-range>
    </div>
    <div class="data-entry-group">
      <app-input></app-input>
    </div>
    <div class="data-entry-group">
      <app-input-number></app-input-number>
    </div>
    <div class="data-entry-group">
      <app-radio></app-radio>
    </div>
    <div class="data-entry-group">
        <app-slider></app-slider>
      </div>
      <div class="data-entry-group">
        <app-switch></app-switch>
      </div>
  </div>
  <div class="data-entry-group">
    <app-upload></app-upload>
  </div>