<div class="data-view-page">
    <div class="data-view-group"><app-avatar></app-avatar></div>
    <div class="data-view-group"><app-avatar-badge></app-avatar-badge></div>
    <div class="data-view-group"><app-avatar-group></app-avatar-group></div>
    <div class="data-view-group"><app-card></app-card></div>
    <div class="data-view-group"><app-card-skeleton></app-card-skeleton></div>
    <div class="data-view-group"><app-empty></app-empty></div>
    <div class="data-view-group"><app-list></app-list></div>
    <div class="data-view-group"><app-popover></app-popover></div>
    <div class="data-view-group"><app-graph-custom-curve></app-graph-custom-curve></div>
    <div class="data-view-group"><app-vertical-chart></app-vertical-chart>></div>
    <div class="data-view-group"><app-horizontal-bar-chart></app-horizontal-bar-chart></div>
    <div class="data-view-group"><app-grouped-vertical-bar-chart></app-grouped-vertical-bar-chart></div>
    <div class="data-view-group"><app-grouped-horizontal-bar-chart></app-grouped-horizontal-bar-chart></div>
    <div class="data-view-group"><app-stacked-vertical-bar-chart></app-stacked-vertical-bar-chart></div>
    <div class="data-view-group"><app-stacked-horizontal-bar-chart></app-stacked-horizontal-bar-chart></div>
    <div class="data-view-group"><app-normalized-vertical-bar-chart></app-normalized-vertical-bar-chart></div>
    <div class="data-view-group"><app-normalized-horizontal-bar-chart></app-normalized-horizontal-bar-chart></div>
    <div class="data-view-group"><app-pie-chart></app-pie-chart></div>
    <div class="data-view-group"><app-advanced-pie-chart></app-advanced-pie-chart></div>
    <div class="data-view-group"><app-pie-grid></app-pie-grid></div>
    <div class="data-view-group"><app-line-chart></app-line-chart></div>
    <div class="data-view-group"><app-polar-chart></app-polar-chart></div>
    <div class="data-view-group"><app-area-chart></app-area-chart></div>
    <div class="data-view-group"><app-stacked-area-chart></app-stacked-area-chart></div>
    <div class="data-view-group"><app-normalized-area-chart></app-normalized-area-chart></div>
    <div class="data-view-group"><app-bubble-chart></app-bubble-chart></div>
    <div class="data-view-group"><app-box-chart></app-box-chart></div>
    <div class="data-view-group"><app-heat-map></app-heat-map></div>
    <div class="data-view-group"><app-tree-map></app-tree-map></div>
    <div class="data-view-group"><app-number-cards></app-number-cards></div>
    <div class="data-view-group"><app-gauge-chart></app-gauge-chart></div>
    <div class="data-view-group"><app-linear-gauge-chart></app-linear-gauge-chart></div>
    <div class="data-view-group"><app-percent-gauge-chart></app-percent-gauge-chart></div>
    <div class="data-view-group"></div>
    <div class="data-view-group"></div>
    <div class="data-view-group"></div>
    <div class="data-view-group"></div>
    <div class="data-view-group"></div>
</div>