<div class="data-view-page">
    <div class="data-view-group"><app-avatar></app-avatar></div>
    <div class="data-view-group"><app-avatar-badge></app-avatar-badge></div>
    <div class="data-view-group"><app-avatar-group></app-avatar-group></div>
    <div class="data-view-group"><app-card></app-card></div>
    <div class="data-view-group"><app-card-skeleton></app-card-skeleton></div>
    <div class="data-view-group"><app-empty></app-empty></div>
    <div class="data-view-group"><app-list></app-list></div>
    <div class="data-view-group"><app-popover></app-popover></div>
    <div class="data-view-group"><app-graph-custom-curve></app-graph-custom-curve></div>
    <div class="data-view-group"></div>
    <div class="data-view-group"></div>
    <div class="data-view-group"></div>
    <div class="data-view-group"></div>
</div>