<div class="gridster-container">
  <div class="controls">
    <app-primary-button nzSize="default" (click)="openCustomModal()">Add</app-primary-button>
    <app-default-button nzSize="default" (click)="changedOptions()">Refresh</app-default-button>
    <app-default-button nzSize="default" (click)="togglePushItems()">
      {{ pushItemsEnabled ? 'Lock Widgets' : 'Unlock Widgets' }}
    </app-default-button>
  </div>
  
  <gridster [options]="options">
    <gridster-item *ngFor="let item of dashboard; trackBy: trackByFn" [item]="item">
      <div class="grid-item-content">
        <div class="item-content">
          <!-- Se renderiza el componente según el tipo de gráfico seleccionado -->
          <ng-container *ngIf="item.chartType === 'line-chart'">
            <app-line-chart></app-line-chart>
          </ng-container>
          <ng-container *ngIf="item.chartType === 'advanced-pie-chart'">
            <app-advanced-pie-chart></app-advanced-pie-chart>
          </ng-container>
          <!-- Puedes agregar más condiciones para otros tipos si lo necesitas -->
        </div>
        <div class="item-buttons">
          <app-float-shape-button
            shape="circle"
            nzType="primary"
            icon="close"
            iconTheme="outline"
            right="0px"
            (nzOnClick)="removeItem(item)">
          </app-float-shape-button>
        </div>
      </div>
    </gridster-item>
  </gridster>

  <!-- Modal personalizado -->
  <div id="customModal" class="modal" [class.show]="isModalVisible">
    <div class="modal-content">
      <div class="modal-header">
        <span class="close" (click)="closeCustomModal()">&times;</span>
        <h2 style="margin-left: 10px;">Select Chart Type</h2>
      </div>
      <div class="modal-body">
        <p>Select Chart Type:</p>
        <!-- Uso del selector vanilla para elegir el tipo de gráfico -->
        <app-chart-selector-vanilla [(selectedChartType)]="selectedChartType"></app-chart-selector-vanilla>
      </div>
      <div class="modal-footer">
        <app-default-button nzType="default" (click)="closeCustomModal()">Close</app-default-button>
        <app-primary-button nzType="default" (click)="handleModalAdd()">Add Widget</app-primary-button>
      </div>
    </div>
  </div>
</div>