:host {
  display: block;
  width: 100%;
  overflow-x: auto; /* Permite scroll horizontal si es necesario */
}

/* Ajusta las operaciones de la tabla */
.table-operations {
  margin-bottom: 16px;
}

.table-operations > button {
  margin-right: 8px;
}

.ant-table-filter-dropdown {
  padding: 8px;
}

.search-box {
  padding: 8px;
}

.search-box input {
  width: 100%;
  max-width: 188px;
  margin-bottom: 8px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}

/* Opcional: se puede forzar que la tabla ocupe el ancho máximo del widget */
.nz-table {
  max-width: 100%;
}