<ngx-charts-area-chart-normalized
  [view]="view"
  [results]="data"
  [scheme]="colorScheme"
  [animations]="animations"
  [legendTitle]="legendTitle"
  [legendPosition]="legendPosition"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [showXAxisLabel]="showXAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [timeline]="timeline"
  [showGridLines]="showGridLines"
  [curve]="curve"
  [roundDomains]="roundDomains"
  [tooltipDisabled]="tooltipDisabled"
  [trimXAxisTicks]="trimXAxisTicks"
  [trimYAxisTicks]="trimYAxisTicks"
  [rotateXAxisTicks]="rotateXAxisTicks"
  [maxXAxisTickLength]="maxXAxisTickLength"
  [maxYAxisTickLength]="maxYAxisTickLength"
  [wrapTicks]="wrapTicks"
  (select)="onSelect($event)">
</ngx-charts-area-chart-normalized>